alt+1=Id irure ullamco \n eu enim eu nisi et duis ex do irure laboris proident commodo. Irure labore veniam id fugiat ut eiusmod labore magna amet cupidatat eiusmod. Proident fugiat excepteur aute duis duis consequat sint cupidatat sit ea incididunt aliquip consequat exercitation. Excepteur elit laborum ad ipsum. Veniam consectetur commodo amet excepteur.
alt+2=1
alt+3=2
alt+4=3
alt+5=4
alt+6=5
alt+7=6
alt+8=7
alt+9=8
alt+0=9